 
 body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0;
      position: relative;
      overflow-y: auto;
  }

  h1 {
      position: relative;
      top: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
      z-index: 1;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.369);
  }


  /* vorrei un css per il titolo   <h3>Indicazioni Cliniche</h3>, che sia addossato a sinistra */
  h3 {
      font-family: Arial, sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #499f749f;
      margin-top: 10px;
      margin-left: 0;
      margin-bottom: 0px;
      text-align: left !important;
  }

  /* COntenitone Centrale */
  .content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 900px;
      transition: margin 0.3s ease;
  }

  .content.left {
      margin-left: 300px;
      /* o qualsiasi sia la larghezza del tuo menu laterale sinistro */
  }

  .content.right {
      margin-right: 300px;
      /* o qualsiasi sia la larghezza del tuo menu laterale destro */
  }

  /* indicazioni cliniche  */

  #clinical-indications-container {
      width: 100%;
      padding: 20px;
      background-color: #92a5e9;
      box-sizing: border-box;
      overflow-y: auto;
      height: 100px;
  }

  #clinical-indications-container input[type=checkbox] {
      margin-right: 10px;
  }

  .main-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
  }


  .table-container {
      width: 100%;
      max-width: 1200px;
      overflow-x: auto;
      margin-top: 20px;
      min-height: max-content;
      /* Aggiungi questa riga */

  }

  .editable-text {
      width: 100%;
      max-width: 1200px;
      min-height: 100px;
      min-width: 600px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgb(252, 252, 252);
      font-family: Arial, sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      resize: none;
      outline: none;
  }


    /* CHAT */



    .chat-iframe {
        width: 100%;
        max-width: 1200px;
        height: 400px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }


  .hidden-options {
      display: none;
  }

  .description:hover .hidden-options,
  .visible-options {
      display: table-row;
  }

  /* ------------------TEMPLATE----------------- */
  table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
      border: 2px solid #344137;
  }

  th,
  td {
      border: 1px solid #752929;
      padding: 8px;

  }

  th {
      background-color: #f1baba;
  }

  td[contenteditable="true"] {
      background-color: #fff9c0;
      color: #333;

  }

  td.description {
      padding: 0;
      border: none;

  }

  td.description table {
      width: 100%;
      border-collapse: collapse;

  }

  td.description td {
      border: none;
      padding: 8px;

  }

  /* ----TEMPLATE---- */
  .hidden {
      display: none;
  }

  .toggle {
      transition: background-color 0.5s ease;
      border: 1px solid #6afe8d;
      /* Aggiunge un bordo nero di 2px */
  }

  /* Vorrei impostare il bordo di colore rosso quando le opzioni sono visibili */


  .toggle:hover {
      background-color: #a8ffd9;
      /* Cambia questo al colore che preferisci */
      cursor: pointer;
  }


  /* Stile per le sezioni selezionate */
  .selected {
      background-color: #cf95fb;
      /* Colore di sfondo quando selezionato */
      /* Altri stili... */
  }

  /* ------------------------------------ */
  /* ! Sidebar */
  /* ------------------------------------ */
  .sidebar {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      background-color: #333;
      padding: 20px;
      box-sizing: border-box;
      transition: width 0.3s ease;
  }

  .sidebar.open {
      width: 300px;
  }

  .sidebar:not(.open) .tab-bar {
      display: none;
  }

  .sidebar ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .sidebar ul li {
      padding: 10px;
      cursor: pointer;
      color: white;
      font-size: 18px;
      margin-left: -20px;
      border: 1px solid #555;
  }

  .sidebar ul li ul {
      display: none;
      margin-left: 30px;
  }

  .sidebar ul li:hover>ul,
  .sidebar ul li.clicked>ul {
      display: block;
  }

  .toggle-area {
      position: absolute;
      top: 0;
      right: -10px;
      width: 50px;
      height: 100%;
      background-color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
  }

  .toggle-area::before {
      content: '>';
      color: white;
      font-size: 46px;
  }

  .sidebar.open .toggle-area::before {
      content: '<';
  }

  /* ! tabbar */
  /* @ esempio */


  .tab-bar {
      display: flex;
      justify-content: space-between;
      background-color: #333;
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 40px;
      /* aggiungi questa riga */
      box-sizing: border-box;
      /* aggiungi questa riga */
      z-index: 3;
      /* aggiungi questa riga */
  }

  .tab-button {
      background-color: #333;
      border: 1px solid #555;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      padding: 10px;
      cursor: pointer;
      margin-right: 5px;
      display: inline-flex;
      /* Modifica il display per adattarsi al contenuto in altezza */
      align-items: center;
      /* Allinea il testo al centro verticalmente */
      height: 40px;
  }


  .tab-button:last-child {
      margin-right: 0;
      /* Rimuovi il margine a destra per l'ultimo bottone */
  }

  .tab-button.active {
      background-color: #555;
      z-index: 3;
  }

  .tab-content {
      padding: 10px;
      background-color: #444;
      color: white;
      overflow-y: auto;
      height: calc(100% - 60px);
      position: absolute;
      /* aggiungi questa riga */
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
  }

  .tab-content.Metodica {
      background-color: #4d3d94;
  }

  .tab-content.Clinica-Sistemi {
      background-color: #7f68c9;
      /* viola-blu più chiaro */
  }


  .system-item {
      position: relative;
      padding-left: 20px;
  }

  .system-item:hover>.system-submenu {
      display: block;
  }

  .system-submenu {
      display: none;
      position: absolute;
      background-color: #444;
      padding: 10px;
      border-radius: 5px;
      left: 100%;
      top: 0;
      min-width: 200px;
  }

  .system-submenu li {
      padding: 5px 0;
  }

  /* MENU LATERALE DESTRO */
  

  .right-sidebar {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40px;
      background-color: #333;
      padding: 20px;
      box-sizing: border-box;
        transition: width 0.4s ease;
  }

  .right-sidebar.open {
      width: 500px;
      transition:  0.1s ease;
  }

  .right-sidebar:not(.open) .tab-bar {
      display: none;
  }

  .right-sidebar ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  .right-sidebar ul li {
      padding: 10px;
      cursor: pointer;
      color: white;
      font-size: 18px;
      margin-right: -20px;
      border: 1px solid #555;
      
  }

  .right-sidebar ul li ul {
      display: none;
      margin-right: 30px;
  }

  .right-sidebar ul li:hover>ul,
  .right-sidebar ul li.clicked>ul {
      display: block;
  }

  .right-sidebar .toggle-area {
      position: absolute;
      top: 0;
      left: -10px;
      /* Cambia da "right" a "left" */
      width: 50px;
      height: 100%;
      background-color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
  }

  .right-sidebar .toggle-area::before {
      content: '<';
      color: white;
      font-size: 46px;
  }

  .right-sidebar.open .toggle-area::before {
      content: '>';
  }

  .right-sidebar .tab-content {
      margin-left: 40px;
  }

  #section-image {
      width: 100%;
      height: auto;
  }



  /* COntenitone UnityWebGl */
  /* Stile per il contenitore */
  .contenitore {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
  }

  /* Stile per l'iframe */
  .contenitore iframe {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
  }














  /* DEBUG */
  #debug {
      position: fixed;
      /* Fissa la finestra di debug in una posizione specifica */
      bottom: 0;
      /* Posizionala in fondo alla pagina */
      left: 0;
      /* Posizionala a sinistra */
      width: 100%;
      /* Fa in modo che occupi l'intera larghezza della pagina */
      height: 20px;
      /* Imposta l'altezza della finestra di debug */
      overflow: auto;
      /* Consente lo scorrimento se il contenuto supera l'altezza */
      background-color: rgba(0, 0, 0, 0.8);
      /* Imposta un colore di sfondo semitrasparente */
      color: #fff;
      /* Imposta il colore del testo a bianco */
      font-family: monospace;
      /* Utilizza un carattere monospazio per facilitare la lettura */
      padding: 10px;
      /* Aggiunge un po' di spazio intorno al contenuto */
      z-index: 9999;
      /* Assicura che la finestra di debug sia sopra gli altri elementi */
  }



  